.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.inner {
  padding: 2em;
}

.textStyle {
  width: 100%;
  color: #fff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 4rem;
}
